@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "schwifty";
  src: url("/assets/fonts/get_schwifty.ttf") format("truetype");
}

@theme {
  --color-rm-primary-100: #e7f3d8;
  --color-rm-primary-300: #b6da8b;
  --color-rm-primary-500: #8bc547;
  --color-rm-primary-700: #588028;
  --color-rm-primary-900: #354e18;

  --color-rm-neutral-50: #e3e4e7;
  --color-rm-neutral-100: #e3e4e7;
  --color-rm-neutral-300: #c7cbc2;
  --color-rm-neutral-400: #808c73;
  --color-rm-neutral-600: #575b52;
  --color-rm-neutral-800: #333630;

  /* --color-rm-error-100: */
  /* --color-rm-error-700: */

  --font-rm-mont: Montserrat, sans-serif;
  --font-rm-schwifty: schwifty, sans-serif;
}
